<header class="index-head">
    <i class=""><h1 class="music text-dark">Musics</h1></i>
    <%= link_to "Add music", new_music_path, :class => "add-music" %>
</header>


<div class="music-container">
<div class="">
    <div>
    <% if @musics.length > 0 %>
        <% @musics.each do |music |%>
            <div class="album">
                <div class="comp-edit"> 
                    <p class="index-composer"> Composer: <%=music.composer%> </p>
                    <%= link_to "SHOW", music, :class => "edit-music" %>
                </div> 
                    <div class="index-song"> 
                        <p class="song-title"> 
                        Song:
                        <%=music.song%> 
                        </p>
                    </div>
            </div>
            <% end %> 
        <% else %>
            No music available.
    <% end %>
    </div>
</div>

</div>



